
/* .bttncompowhite__contain {} */

.bttncompowhite__contain button {
  width: 426px;
  height: 64px;
  border: none;
  border-radius: 6px;
  /* color: var(--color4) ; */
  background: var(--color4);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}