body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --color1: #000000; /* أسود */
  --color2: #8692a6; /* ما أدري */
  --color3: #696f79; /* ما أدري */
  --color4: #ffffff; /* أبيض */
  --color5: #1565D8; /* أزرق */
  --color6: #00DAF7; /* أزرق برضو بس حلو */
  
}
